<h1>Add a Recipe to <%= @category.name %></h1>

<%= simple_form_for([@category, @bookmark]) do |f| %>
  <div>
    <%= f.input :recipe_id, label: 'Select a Recipe', collection: @recipes, prompt: 'Choose a Recipe' %>
  </div>
  <div>
    <%= f.input :comment, label: 'Comment' %>
  </div>
  <div>
    <%= f.submit 'Add Recipe' %>
  </div>
<% end %>

<p><%= link_to 'Back to Category', category_path(@category) %></p>
