<h1>Add a Recipe to <%= @category.name %></h1>

<%= simple_form_for [@category, @bookmark] do |f| %>
  <%= f.input :recipe_id, collection: @recipes, label: "Select a Recipe" %>
  <%= f.input :comment, label: "Add a Comment" %>
  <%= f.button :submit, "Add Recipe" %>
<% end %>

<%= link_to "Back to #{@category.name}", category_path(@category) %>
