<div class="banner" style="background-image: url(<%= image_path('category.jpg') %>)">
  <div>
    <h1><%= @category.name %></h1>
  </div>
</div>

<div class="container">
  <div class="info-top">
    <h3>Recipe</h3>
    <%= link_to 'Add a Recipe', new_category_bookmark_path(@category), class: 'btn btn-warning' %>
  </div>

  <div class="cards">
    <% @category.recipes.each do |recipe| %>
      <div class="card-recipe">

        <%= image_tag recipe.image_url, alt: "Recipe image", class: "recipe-image" %>

        <div class="card-recipe-description">
          <h2><%= recipe.name %></h2>
          <p><%= recipe.description.truncate(200) %></p>
        </div>

        <div class="card-recipe-info">
          <div>
          <i class="fa-solid fa-quote-left"></i> <%= @category.bookmarks.find_by(recipe: recipe)&.comment %>
          </div>
          <div>
            <%= recipe.rating %> <%= '⭐️' * recipe.rating %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
